@import 'variables';

.header {
  background-color: $color-secondary;
  color: $color-text-secondary;
  font-size: 1.5rem;
}

.photo {
  text-align: center;
  width: 95%;
  border-radius: 50%;
  margin: 0.5rem auto;
}

.card {
  width: 18rem;
}
